
body {
  background-color: rgb(246, 237, 234);
  
}

.pixel {
  float: left;
  top: 40px;
  left: 50px;
  width: 300px; 
  height: auto;
}

.intro {
  position: absolute;
  width: 70%;
  left: 10%;
  top: 10%;
}

.graphic {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  padding: 60px 50px;
  margin-top: 100px;
  margin-left: 80px;
  margin-right: auto;
}

.gif_p {
  font-family: 'Handjet';
  font-size: 38px;
  
}

* {
  margin: 0px;
  padding: 0px;

}
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Handjet;
}

.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*img {
  width: 800px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}*/

/*h1{
  font-family: 'Doto';font-size: 50px;
  text-align: center;
  padding: 10px;
}*/

.title {
  font-family: 'Doto';font-size: 150px;
  text-align: center;
  padding: 10px;
}


.star_section {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 40px; 
  margin-top: 400px;
  padding-right: 50px;
  background-color: #ad6767;  
  padding: 20px 40px;
}

.star_wrapper {
  text-align: right;
  margin: 0;
  padding-right: 200 px;
}
.star_rate{
  display: inline-block;
  user-select: none;
  background-color: white;
  padding: 1.4rem 2.5rem;
  margin: 2rem;
  border-radius: .4rem;
 
}


.star {
  font-size: 3rem;
  color: rgb(255, 140, 0);
  background-color: unset;
  border: none;
}

.star:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.starQuestion {
  font-family: 'Handjet';
  font-size: 34px;

}

.userInput {
  font-family: 'Handjet';
  font-size: 28px;

}

.introh1 {
  font-family: 'Handjet';
  text-align: center;
}
 
.gif {
  max-width: 300px;
  height: auto; 
  
}


.game {
  width: 300px;
  height: 500px;
  margin: 50px auto;
}

.game-container {
  width: 600px; 
  height: 500px; 
  margin: 50px auto;
  background-color: #000000; 
  border-radius: 25px; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  
}


.game-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.blockContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.blocks {
  position: relative;
  width: 100%;
  height: 100vh;
}

/*.blocks span 
{
  position: absolute;
  width: 30px;
  height: 30px;
  background:#E05FFF;
  margin: 0 5px;
  animation: animate 10s linear infinite;
  animation-iteration-count: 1;
  top: -60px;
  left: calc(4vw * var(--i));
  animation-delay: calc(0.5s * var(--i));
}*/

.blocks span {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #E05FFF;
  top: -60px;
  animation: animate 10s linear infinite;
  animation-iteration-count: 1;
}

.blocks span:nth-child(even) {
  background:#49F23C;
}



@keyframes animate {
  0% {
    transform: translateY(-100px) scale(0);
    opacity: 0.6;
  }
  100% {
    transform: translateY(100vh) scale(1);
    opacity: 0.9;
  }
}



/*p{
  text-align: left; 
  padding: 10px;
  font-family: 'Handjet';font-size: 30px;
}*/



.flexboxContainer {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}

.flexItem {
flex-basis: 100%;
text-align: center;
}

@media screen and (max-width:991px){
  .flexboxContainer{
    flex-wrap: wrap;
  }
  .game {
    width: 90%;
    height: auto;
  
  }
}


.info {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 40px 60px;
  gap: 40px; 
  background-color: rgb(110, 130, 171);
}

.text-wrapper {
  flex: 1;                          
  display: flex;
  flex-direction: column;        
  gap: 10px;                        
}

.type{
  font-family: 'Handjet';
  font-size: 34px;
 
}

.learn {
  font-family: 'Handjet';  
  font-size: 34px;

}

.poster {
  width: 300px; 
  height: auto; 
  margin-top: 20px;
 
}

